<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand" rel="home">
        <img class="img-responsive"
             src=""/>
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-expanded" id="bs-example-navbar-collapse-1">
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-main-link"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-user-o fa-inverse fa-stack-1x"></i>
            </span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'account_logout' %}">Log out</a></li>
          </ul>
        </li>
      </ul>

      {% else %}
      <p class="navbar-text navbar-right">
        <a href="{% url 'account_login' %}" class="btn btn-success">
          Sign In
        </a>
      </p>
      {% endif %}

    </div><!-- end of navbar-collapsed -->
  </div><!-- end of container -->
</nav>
