/*----------------toggeled sidebar----------------*/
.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

.page-wrapper.toggled .navbar-fixed-top {
  left: 288px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 288px;
  }
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 288px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -288px;
  z-index: 999;
  background-color: #D61704;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .brand-logo {
  height: 82px;
  width: 82px;
  margin: 15px auto 30px auto;
}

.sidebar-wrapper .sidebar-header .brand-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
}

.sidebar-wrapper .sidebar-header .brand-logo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*----------------------sidebar-menu-------------------------*/
.sidebar-menu ul {
  margin-left: 30px;
}

.sidebar-menu li a > * {
  vertical-align: middle;
}

.sidebar-menu li.active a {
  color: #ffffff;
}

.sidebar-menu li i {
  height: 24px;
  width: 24px;
}

.sidebar-menu li a span {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f7f7f7;
  margin-left: 15px;
}

.sidebar-submenu a span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #4a4a4a;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 15px 30px 15px 20px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 100px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}
